.wrapper {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.wrapper button {
  padding: 10px 20px;
  border: none;
  font-size: 17px;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s ease;
}

.wrapper button:hover {
  /* background: black; */
  color: #000000;
  border: 1px solid black;
}


.button-active {
  background-color: blue;
  color: white;
}

.accordian {
  width: 500px;
}

.item {
  background: #a2a8d3;
  margin-bottom: 10px;
  padding: 10px 20px;
}

.title {
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.content {
  color: #000000;
  height: auto;
}
